input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #714e9e inset !important;
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
  color: rgb(39, 36, 36);
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
  color: rgb(39, 36, 36);
}
label {
  color: #000;
}
mat-card {
  background-image: var(--gradiente);
  // margin-top: 15%;
}
.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
.spinner {
  margin: 0 auto;
}
.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: auto;
  text-align: center;
}
.ancho {
  width: 80%;
}
