table {
  width: 100%;
  background-color: rgba(56, 54, 54, 0.199);
}
.color-grad {
  background-image: var(--gradiente);
  color: #000;
}
.add {
  display: flex;
  justify-content: flex-end;
}
.d-flex > button {
  margin: 3px;
}
.mat-icon-button {
  width: 35px;
  height: 35px;
  line-height: 0;
}
