mat-toolbar {
  background-image: radial-gradient(
    circle at 95.45% -4.17%,
    #d1e7d9 0,
    #cfe7dc 4.55%,
    #cde7de 9.09%,
    #cbe7e1 13.64%,
    #cae7e3 18.18%,
    #c9e7e6 22.73%,
    #c9e7e8 27.27%,
    #c9e7eb 31.82%,
    #c9e7ed 36.36%,
    #cae6ef 40.91%,
    #cbe6f1 45.45%,
    #cde5f2 50%,
    #cfe4f3 54.55%,
    #d1e4f4 59.09%,
    #d4e3f5 63.64%,
    #d7e2f5 68.18%,
    #dae1f5 72.73%,
    #dde0f4 77.27%,
    #e0e0f4 81.82%,
    #e3dff3 86.36%,
    #e6def1 90.91%,
    #e9ddf0 95.45%,
    #ecddee 100%
  );
  color: #000;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background-image: radial-gradient(
    circle at 95.45% -4.17%,
    #d1e7d9 0,
    #cfe7dc 4.55%,
    #cde7de 9.09%,
    #cbe7e1 13.64%,
    #cae7e3 18.18%,
    #c9e7e6 22.73%,
    #c9e7e8 27.27%,
    #c9e7eb 31.82%,
    #c9e7ed 36.36%,
    #cae6ef 40.91%,
    #cbe6f1 45.45%,
    #cde5f2 50%,
    #cfe4f3 54.55%,
    #d1e4f4 59.09%,
    #d4e3f5 63.64%,
    #d7e2f5 68.18%,
    #dae1f5 72.73%,
    #dde0f4 77.27%,
    #e0e0f4 81.82%,
    #e3dff3 86.36%,
    #e6def1 90.91%,
    #e9ddf0 95.45%,
    #ecddee 100%
  );
  color: #000;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: lightgray;
}

mat-sidenav-container {
  height: calc(100vh - 60px);
  box-shadow: #c9e7e6;
}
.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  mat-icon {
    margin-right: 8px;
  }
}
.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: rgb(15, 14, 14);
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}
