<mat-toolbar>
  <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened">
        menu
    </mat-icon>
    <mat-icon *ngIf="sidenav.opened">
        close
    </mat-icon>
</button>
  Sistema de Administración</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav">
    <img class="avatar mat-elevation-z8" src="https://img.freepik.com/premium-vector/cute-white-cat-cartoon-vector-illustration_42750-808.jpg?w=740" />
    <h2 class="name">Bienvenido </h2>
    <p class="designation">Admin</p>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" [routerLink]="['../dashboard/client/menu']">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['client']">
      <mat-icon>person</mat-icon>
      <span>Clientes</span>
    </button>
    <button mat-button class="menu-button" [routerLink]="['product']">
      <mat-icon>format_list_bulleted</mat-icon>
      <span>Productos</span>
    </button>
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" [routerLink]="['']">
      <mat-icon>logout</mat-icon>
      Salir
    </button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
